* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #4E0229;
    background-color: #f6f6f6;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
  }

h1 {
  font-size: 2.2rem;
  font-weight: normal;
  margin-bottom: 1rem;
}  

h2 {
  font-size: 1.9rem;
}  

h3 {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

/* === BAGGRUND === */
.vandmaerke-wrapper {
  position: absolute;
  inset: 5rem 2rem auto 2rem;
  max-height: 100%;
  overflow: hidden;
  z-index: -1;
}

.vandmaerke {
  width: 100%;
  height: auto;
  display: block;
}

/* === HEADER OG NAVIGATION === */

header {
    background-color: #4E0229;
    padding: 1rem;
    position: relative;
  }
  
  nav {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 30px;
    display: block;
  }
  
  /* Menu-knap */
  .nav-toggle {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transform: translateY(-1.5px)
  }
  
  .nav-toggle .close-icon {
    display: none;
  }
  
  /* Dropdown-menu */
  .nav-menu {
    background-color: #ffffff;
    border-radius: 0 0 12px 12px;
    position: absolute;
    top: 100%;
    right: 1rem;
    padding: 1rem;
    width: 220px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  
  .nav-menu a {
    color: #4E0229;
    text-decoration: none;
    font-size: 1rem;
  }
  
  /* Skjul menu ved start */
  .nav-menu[hidden] {
    display: none;
  }

/* === MAIN === */

  /* Overskrift og intro */
  .hero, .under-indbakke{
    
    margin: 2rem auto 2rem auto;
    padding: 0 0.5rem;
    text-align: left;
    max-width: 50rem;
    p {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 1rem;
    }
  }

  /*under_udvikling*/
  .hero .underudvikling-tekst {
    margin-bottom: 6.2rem;
  }

  /*email_test*/
  .indbakke-wrapper {
    max-width: 50rem;
    margin: 2rem auto;
  }
  
  .indbakke-topbjaelke {
    height: 2rem;
    background-color: #4E0229;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .indbakke {
    display: flex;
    justify-content: space-between;
    background: white;
    border: 1px solid #4E0229;
    border-top: none; 
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    font-size: 0.85rem;
    position: relative;
  
    .indbakke-liste,
    .indbakke-visning {
      flex: 1;
      padding: 1rem;
    }
  
    .indbakke-liste {
      background-color: #f9f9f9;
    }
  
    .indbakke-visning {
      position: relative;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("img/email_ikon.svg") no-repeat center center;
      background-size: 40%;
      min-height: 30rem;
      border-left:1px solid #4E0229;
    }

    .mailliste {
      list-style: none;
      padding: 0;
      margin: 0;
    
      .mail-preview {
        padding: 0.5rem;
        border-radius: 4px;
        margin-bottom: 0.5rem;
        cursor: pointer;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-bottom: 0.5rem;

        .mail-cirkel {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background-color: #DCAFC6;
          color: #4E0229;
          font-weight: bold;
          font-size: 1rem;
          flex-shrink: 0;

          &.pink {
            background-color: #DCAFC6; 
          }
        
          &.blaa {
            background-color: #ADBCDE; 
          }
        
          &.mint {
            background-color: #ADDADC; 
          }
        }
        .mail-cirkel.vurderet {
          color: #fff;
          &.pink {
            background-color: #4E0229;
          }
        
          &.blaa {
            background-color: #011D59; 
          }
        
          &.mint {
            background-color: #014E52; 
          }
          
        }
        .mail-tekst {
          display: flex;
          flex-direction: column;
          color: #4E0229;

          small {
            display: block;
            font-weight: normal;
          }
        }
    
        &:hover {
          background-color: #eee;
        }

        &.aktiv-mail {
          background-color: #dae2f4; 
        }
        
      }
    }
    
  }
  
  .mail-layover {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: fit-content;
    background: white;
    z-index: 2;
    overflow-y: visible;
  
    button.luk-mail {
      position: absolute;
      right: 0;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: #4E0229;
      cursor: pointer;
    }
  }
  
  .skjul {
    display: none;
  }

  .vurderingsboks {
    margin-top: 2rem;
    border: 1px solid #4E0229;
    border-radius: 10px;
  
    .mail-knapper {
      display: flex;
      justify-content: space-between;
      gap: 0.5rem;
      margin-top: auto;
      margin-bottom: 1rem;
  
      .knap {
        flex: 1;
        padding: 0.5rem;
        font-weight: bold;
        font-size: 0.85rem;
        border: none;
        cursor: pointer;
      }
  
      .primær-knap {
        background-color: #4E0229;
        color: #fff;
        border-radius: 0 10px 10px 0;
      }
  
      .sekundær-knap {
        background-color: #DCAFC6;
        color: #4E0229;
        border-radius: 10px 0 0 10px;
      }
    }
 
  }

  .vurderingsboks-tekst {
    padding: 0.75rem;
    border-radius: 10px;
    font-weight: normal;
    text-align: left;
    color: #4E0229;
  }

  /* svar forkert */
  .feedbackboks {
    margin-top: 2rem;
    border: 1px solid #4E0229;
    border-radius: 10px;
    text-align: left;
    color: #4E0229;
    background-color: #fff;
  }

  .faresignaler {
    padding: 1rem 2rem;
    text-align: left;
    color: #4E0229;
  
    li {
      margin-bottom: 0.5rem;
    }
  }

  .naeste-mail-knap-wrapper {
    text-align: right;
    margin-bottom: 1rem;
  }

  .naeste-mail-knap {
    background-color: #DCAFC6;
    color: #4E0229;
    padding: 0.5rem 1rem;
    border-radius: 10px 0 0 10px;
    border: none;
    font-weight: bold;
    font-size: 0.85rem;
    cursor: pointer;
  }

  /* svar rigtigt*/

  .faresignaler-interaktiv {
    padding: 1rem 2rem;
    text-align: left;
    color: #4E0229;
    list-style: none;
  
    li {
      margin-bottom: 0.75rem;
  
      input[type="checkbox"] {
        margin-right: 0.5rem;
        accent-color: #4E0229;
        vertical-align: middle;
        border-color: #4E0229;
      }
    }
  }
  
  .send-feedback-knap-wrapper {
    text-align: right;
    margin-bottom: 1rem;
  
    .send-feedback-knap {
      background-color: #DCAFC6;
      color: #4E0229;
      padding: 0.5rem 1rem;
      border-radius: 10px 0 0 10px;
      border: none;
      font-weight: bold;
      font-size: 0.85rem;
      cursor: pointer;
    }
  }

  .point-visning {
    padding: 0.75rem;
  }

  .indryk-liste {
    padding-left: 2rem;
  }

  .afslutnings-knap {
    background-color: #DCAFC6;
    color: #4E0229;
    padding: 0.5rem 1rem;
    border-radius: 10px 0 0 10px;
    border: none;
    font-weight: bold;
    font-size: 0.85rem;
    cursor: pointer;
  }
    
  /*De tre emne-bokse*/
  .emne-sektion {
    padding-block: 2rem;
  }
  
  .emneboks-wrapper {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .emneboks-container {
    position: relative;
    width: 15.5rem;
  }
  
  .emneoverskrift {
    position: absolute;
    top: -2.8rem;
    left: 0.5rem;
    font-weight: normal;
    margin: 0;
  }
  
  .emneboks {
    height: 14.5rem;
    border-radius: 0.625rem;
    border: 1px solid currentColor;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  
    .emne-topfelt {
      height: 40%;
      background-color: currentColor;
      width: 100%;
    }
    .emne-topfelt img {
      height: 107%; 
      display: block;
      margin-inline: auto;
      transform: translateX(15%);
      margin-bottom: -0.5rem;
    }
    
  }

  .emne-tekst {
    padding: 1rem 0.5rem;
    font-size: 0.85rem;
    flex-grow: 1;
  }

  .emne-knapper {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: auto;
    margin-bottom: 1rem;

    .knap {
      flex: 1;
      padding: 0.5rem 0;
      font-weight: bold;
      text-align: center;
      font-size: 0.85rem;
      color: #fff;
      text-decoration: none;
    }

    .primær-knap {
      border-radius: 0 10px 10px 0;
    }

    .sekundær-knap {
      border-radius: 10px 0 0 10px;
      color: #000;
    }

    // E-mail farver
    .emne-email & {
      .primær-knap { background-color: #4E0229; }
      .sekundær-knap { background-color: #DCAFC6; }
    }

    // E-handel farver
    .emne-ehandel & {
      .primær-knap { background-color: #001a57; }
      .sekundær-knap { background-color: #ADBCDE; }
    }

    // SoMe farver
    .emne-some & {
      .primær-knap { background-color: #014E52; }
      .sekundær-knap { background-color: #ADDADC; }
    }
  }
  
  // Farver (ændrer currentColor)
  .emne-email { color: #4E0229; }
  .emne-ehandel { color: #001a57; }
  .emne-some { color: #014E52; }

  /* === FOOTER === */
  .sidefooter {
    text-align: center;
    font-weight: bold;
    color: #5a002d;
    font-size: 0.875rem;
    margin-bottom: 2rem;
  }

  
 /* === BREDFORMAT === */

 @media (min-width: 768px) {
  .indbakke {
    .indbakke-liste {
      flex: 0 0 40%;
    }

    .indbakke-visning {
      flex: 0 0 60%;
    }
  }
}


  /* === HOEJFORMAT === */
  @media (max-width: 768px) {

    .hero {
      max-width: 90%;
    }
    /* email-test */
    .indbakke-wrapper {
      max-width: 90%;
    }

    .indbakke {
      flex-direction: column;
    }
  
    .indbakke-liste,
    .indbakke-visning {
      padding: 1rem;
    }

    .indbakke-liste {
      max-height: 10rem; 
      overflow-y: auto;
    }
  
    .indbakke-visning {
      border-top: 1px solid #4E0229; 
      border-left: hidden;
    }

    .mail-layover {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;       // fyld hele indbakke-visningens bredde
      height: auto;
      border-left: none;
      border-radius: 0;
      box-shadow: none;
      padding: 1rem;
    }
  
    .mail-layover button.luk-mail {
      top: 1rem;
      right: 1rem;
    }

    /* de tre emnebokse */
    .emne-sektion {
      padding-block: 0 1rem;
    }

    .emneboks-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .emneboks-container {
      width: 90%;
      max-width: 400px;
    }
  
    .emneoverskrift {
      position: static;
      margin-left: 0.5rem;
    }

    
  }


  
  