body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
  }

/* === HEADER OG NAVIGATION === */

header {
    background-color: #4E0229;
    padding: 1rem;
    position: relative;
  }
  
  nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
  }
  
  /* Menu-knap */
  .nav-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .nav-toggle .close-icon {
    display: none;
  }
  
  /* Dropdown-menu */
  .nav-menu {
    background-color: #ffffff;
    border-radius: 0 0 12px 12px;
    position: absolute;
    top: 100%;
    right: 1rem;
    padding: 1rem;
    width: 220px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  
  .nav-menu a {
    color: #4E0229;
    text-decoration: none;
    font-size: 1rem;
  }
  
  /* Skjul menu ved start */
  .nav-menu[hidden] {
    display: none;
  }

/* === MAIN === */

  /* Overskrift og intro */
  .hero {
    max-width: 48rem;
    margin: 4rem auto 2rem auto;
    padding: 0 1rem;
    text-align: left;
  
    h1 {
      font-size: 2.2rem;
      font-weight: normal;
      color: #4E0229;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.05rem;
      line-height: 1.6;
      color: #4E0229;
      margin-bottom: 1rem;
    }
  }

  /*De tre emne-bokse*/
  .topics {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem 0;
  
    .card-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: left;
      max-width: 20rem;
  
      .card-title {
        font-size: 1.5rem;
        margin-bottom: -1.2rem;
        background-color: #fff;
        padding: 0 0.5rem;
        z-index: 2;
      }
  
      .card {
        padding: 2rem 1rem 1.5rem;
        border-radius: 0.625rem;
        text-align: center;
        color: #fff;
  
        &.email {
          background-color: #4e0229;
        }
  
        &.ecommerce {
          background-color: #011d59;
        }
  
        &.social {
          background-color: #014e52;
        }
  
        .card-text {
          margin-bottom: 1rem;
          font-size: 1rem;
        }
  
        .card-buttons {
          display: flex;
          justify-content: space-between ;
          gap: 1rem;
  
          .btn {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.4rem;
            cursor: pointer;
            font-weight: bold;
  
            &.light {
              background-color: #dcdcdc;
              color: #000;
            }
  
            &.dark {
              background-color: #fff;
              color: #000;
            }
          }
        }
      }
    }
  }
  
  
  
  